body {
    margin: 0 0 0 0;
    text-align: center;
}

.background {
    background-size: cover;
    min-height: 100vh; /* so background stays full size of viewport*/
    background-image: url('../images/bg.jpeg');
    width: 100%;
}

#logo {
    width: 20%;
    padding: 2%;
    /*margin-top:2%;*/
}

.col {
    border-style: solid;
    border-width: 2px;
    border-color: #653973;
    background-color: #653973;
    margin: 0px 35% 1% 1%;
    color : white;
    width: 50%;

}