<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/external.css}" rel="stylesheet"/><!--link to external .css stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<div class="background">
    <img id="logo" src="images/logo.png" alt="images/image of logo"/>

    <div class="row">
        <div class="col"><a href="createAccount">CREATE ACCOUNT</a></div>
        <div class="col"><a href="viewAccount">VIEW ACCOUNT</a></div>
        <div class="w-100"></div>
        <div class="col"><a href="transactions">TRANSACTIONS</a></div>
        <div class="col"><a href="gift">GIFT FOR SAVINGS</a></div>
    </div>

</div>
</body>
</html>